In [16]:
import pandas as pd;
import numpy as np;

from sklearn.linear_model import LogisticRegression;

from sklearn.externals import joblib
import requests, json

C:\Users\z023209\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\externals\joblib\__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [3]:
org_data = pd.read_csv("height.csv");
org_data.shape

(10000, 3)

In [4]:
org_data.head(5)

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [5]:
org_data.isnull().values.any()

False

In [6]:
org_data['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [7]:
org_data.replace({'Male' : 0, 'Female': 1},inplace=True)

In [8]:
org_data.head(5)

   Gender     Height      Weight
0       0  73.847017  241.893563
1       0  68.781904  162.310473
2       0  74.110105  212.740856
3       0  71.730978  220.042470
4       0  69.881796  206.349801

In [10]:
logicReg = LogisticRegression()

In [12]:
x = org_data.drop(columns=["Gender"]);
y = org_data["Gender"];
print(x.shape,y.shape)

(10000, 2) (10000,)

In [13]:
logicReg.fit(x,y);

In [14]:
logicReg.coef_

array([[ 0.47828673, -0.19680042]])

In [15]:
logicReg.intercept_

array([0.0100464])

In [18]:
print(logicReg.predict([[73.847017, 241.893563]]))

[0]

# Joblib Process

In [17]:
joblib.dump(logicReg, "logistic_regression_model.pkl")

['logistic_regression_model.pkl']